<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<fieldset class="fieldset2" th:each="JobState : ${JobStates}">
				<ul>
					<li>jobID (작업아이디) : <span th:text="${JobState.jobID}"></span></li>
					<li>jobState (수집 상태) : <span th:text="${JobState.jobState}"></span></li>
					<li>startDate (시작일자) : <span th:text="${JobState.startDate}"></span></li>
					<li>endDate (종료일자) : <span th:text="${JobState.endDate}"></span></li>
					<li>errorCode (수집 결과코드) : <span th:text="${JobState.errorCode}"></span></li>
					<li>errorReason (오류메시지) : <span th:text="${JobState.errorReason}"></span></li>
					<li>jobStartDT (작업 시작일시) : <span th:text="${JobState.jobStartDT}"></span></li>
					<li>jobEndDT (작업 종료일시) : <span th:text="${JobState.jobEndDT}"></span></li>
					<li>regDT (수집 요청일시) : <span th:text="${JobState.regDT}"></span></li>
				</ul>
			</fieldset>
		</fieldset>
	</div>
</body>
</html>
