<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURL}"></legend>
			<ul>

				<li>bankCode (기관코드) : <span
					th:text="${DepositorCheckInfo.bankCode}"></span></li>
				<li>accountNumber (계좌번호) : <span
					th:text="${DepositorCheckInfo.accountNumber}"></span></li>
				<li>accountName (예금주 성명) : <span
					th:text="${DepositorCheckInfo.accountName}"></span></li>
				<li>identityNumType (등록번호 유형) : <span
					th:text="${DepositorCheckInfo.identityNumType}"></span></li>
				<li>identityNum (등록번호) : <span
					th:text="${DepositorCheckInfo.identityNum}"></span></li>
				<li>checkDate (확인일시) : <span
					th:text="${DepositorCheckInfo.checkDate}"></span></li>
				<li>result (상태코드) : <span
					th:text="${DepositorCheckInfo.result}"></span></li>
				<li>resultMessage (상태메시지) : <span
					th:text="${DepositorCheckInfo.resultMessage}"></span></li>
			</ul>
		</fieldset>
	</div>
</body>
</html>