<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<ul>
				<li>result (상태코드) : <span th:text="${AccountInfo.result}"></span></li>
				<li>resultMessage (상태메시지) : <span th:text="${AccountInfo.resultMessage}"></span></li>
				<li>accountName (예금주 성명) : <span th:text="${AccountInfo.accountName}"></span></li>
				<li>bankCode (기관코드) : <span th:text="${AccountInfo.bankCode}"></span></li>
				<li>accountNumber (계좌번호) : <span th:text="${AccountInfo.accountNumber}"></span></li>
				<li>checkDate (확인일자) : <span th:text="${AccountInfo.checkDate}"></span></li>
				<li>checkDT (확인일시) : <span th:text="${AccountInfo.checkDT}"></span></li>
			</ul>
		</fieldset>
	</div>
</body>
</html>