<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURL}"></legend>
			<ul>
				<li>CSH_ISSUE (고객에게 현금영수증이 발행 되었음을 알려주는 메일 전송 여부) : <span
					th:text="${EmailSendConfigs.get('CSH_ISSUE')}"></span></li>
				<li>CSH_CANCEL (고객에게 현금영수증이 발행취소 되었음을 알려주는 메일 전송 여부) : <span
					th:text="${EmailSendConfigs.get('CSH_CANCEL')}"></span></li>
			</ul>
		</fieldset>
	</div>
</body>
</html>
