<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<fieldset class="fieldset2" th:if="BulkResult">
				<legend>대량발행 접수결과</legend>
				<ul>
					<li>code (응답코드) : <span th:text="${BulkResult.code}"></span></li>
					<li>message (응답메시지) : <span th:text="${BulkResult.message}"></span></li>
					<li>submitID (접수 시점에 고객사에서 할당한 제출아이디) : <span th:text="${BulkResult.submitID}"></span></li>
					<li>submitCount (현금영수증 접수 건수) : <span th:text="${BulkResult.submitCount}"></span></li>
					<li>successCount (현금영수증 발행 성공 건수) : <span th:text="${BulkResult.successCount}"></span></li>
					<li>failCount (현금영수증 발행 실패 건수) : <span th:text="${BulkResult.failCount}"></span></li>
					<li>txState (접수상태) : <span th:text="${BulkResult.txState}"></span></li>
					<li>txResultCode (접수 결과코드) : <span th:text="${BulkResult.txResultCode}"></span></li>
					<li>txStartDT (발행처리 시작일시) : <span th:text="${BulkResult.txStartDT}"></span></li>
					<li>txEndDT (발행처리 완료일시) : <span th:text="${BulkResult.txEndDT}"></span></li>
					<li>receiptDT (접수일시) : <span th:text="${BulkResult.receiptDT}"></span></li>
					<li>receiptID (접수아이디) : <span th:text="${BulkResult.receiptID}"></span></li>
				</ul>
			</fieldset>

			<fieldset class="fieldset2"
				th:each="CashbillInfo, index : ${BulkResult.issueResult}">
				<legend>
					발행결과 [<span th:text="${index.index + 1}"></span> / <span th:text="${index.size}"></span>]
				</legend>
				<ul>
					<li>code (응답코드) : <span th:text="${CashbillInfo.code}"></span></li>
					<li>message (응답메시지) : <span th:text="${CashbillInfo.message}"></span></li>
					<li>mgtKey (문서번호) : <span th:text="${CashbillInfo.mgtKey}"></span></li>
					<li>confirmNum (국세청승인번호) : <span th:text="${CashbillInfo.confirmNum}"></span></li>
					<li>tradeDate (거래일자) : <span th:text="${CashbillInfo.tradeDate}"></span></li>
					<li>issueDT (발행일시) : <span th:text="${CashbillInfo.issueDT}"></span></li>
				</ul>
			</fieldset>
		</fieldset>
	</div>
</body>
</html>
