<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<ul>
				<li>응답코드 (Response.code) : <span th:text="${Response.code}"></span></li>
				<li>응답메시지 (Response.message) : <span
					th:text="${Response.message}"></span></li>
				<li>국세청 승인번호 (Response.confirmNum) : <span
					th:text="${Response.confirmNum}"></span></li>
				<li>거래일자 (Response.tradeDate) : <span
					th:text="${Response.tradeDate}"></span></li>
			</ul>
		</fieldset>
	</div>
</body>
</html>