<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
    <title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        <ul>
            <li>code (요청에 대한 응답 상태코드) : <span th:text="${TaxinvoiceXML.resultCode}"></span></li>
            <li>message (응답메시지) : <span th:text="${TaxinvoiceXML.message}"></span></li>
            <li>retObject (XML문서) : <span th:text="${TaxinvoiceXML.retObject}"></span></li>
        </ul>
    </fieldset>
</div>
</body>
</html>
