<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
    <div id="content">
        <p class="heading1">Response</p>
        <br />
        <fieldset class="fieldset1">
            <legend th:text="${#request?.requestURL}"></legend>
            <ul>
                <li>corpNum (사업자번호) : <span th:text="${BizInfo.corpNum}"></span></li>
                <li>companyRegNum (법인번호): <span th:text="${BizInfo.companyRegNum}"></span></li>
                <li>checkDT (확인일시) : <span th:text="${BizInfo.checkDT}"></span></li>
                <li>corpName (상호): <span th:text="${BizInfo.corpName}"></span></li>
                <li>corpCode (기업형태코드): <span th:text="${BizInfo.corpCode}"></span></li>
                <li>corpScaleCode (기업규모코드): <span th:text="${BizInfo.corpScaleCode}"></span></li>
                <li>personCorpCode (개인법인코드): <span th:text="${BizInfo.personCorpCode}"></span></li>
                <li>headOfficeCode (본점지점코드) : <span th:text="${BizInfo.headOfficeCode}"></span></li>
                <li>industryCode (산업코드) : <span th:text="${BizInfo.industryCode}"></span></li>
                <li>establishCode (설립구분코드) : <span th:text="${BizInfo.establishCode}"></span></li>
                <li>establishDate (설립일자) : <span th:text="${BizInfo.establishDate}"></span></li>
                <li>CEOName (대표자명) : <span th:text="${BizInfo.CEOName}"></span></li>
                <li>workPlaceCode (사업장구분코드): <span th:text="${BizInfo.workPlaceCode}"></span></li>
                <li>addrCode (주소구분코드) : <span th:text="${BizInfo.addrCode}"></span></li>
                <li>zipCode (우편번호) : <span th:text="${BizInfo.zipCode}"></span></li>
                <li>addr (주소) : <span th:text="${BizInfo.addr}"></span></li>
                <li>addrDetail (상세주소) : <span th:text="${BizInfo.addrDetail}"></span></li>
                <li>enAddr (영문주소) : <span th:text="${BizInfo.enAddr}"></span></li>
                <li>bizClass (업종) : <span th:text="${BizInfo.bizClass}"></span></li>
                <li>bizType (업태) : <span th:text="${BizInfo.bizType}"></span></li>
                <li>result (결과코드) : <span th:text="${BizInfo.result}"></span></li>
                <li>resultMessage (결과메시지) : <span th:text="${BizInfo.resultMessage}"></span></li>
                <li>closeDownTaxType (사업자과세유형) : <span th:text="${BizInfo.closeDownTaxType}"></span></li>
                <li>closeDownTaxTypeDate (과세유형전환일자): <span th:text="${BizInfo.closeDownTaxTypeDate}"></span></li>
                <li>closeDownState (휴폐업상태) : <span th:text="${BizInfo.closeDownState}"></span></li>
                <li>closeDownStateDate (휴폐업일자) : <span th:text="${BizInfo.closeDownStateDate}"></span></li>
            </ul>
        </fieldset>
    </div>
</body>
</html>