<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
    <div id="content">
        <p class="heading1">Response</p>
        <br />
        <fieldset class="fieldset1">
            <legend th:text="${#request?.requestURL}"></legend>
            <fieldset th:if="${SearchResult}" class="fieldset2">
                <legend>검색결과 정보</legend>
                <ul>
                    <li>code (응답코드) : <span th:text="${SearchResult.code}"></span></li>
                    <li>message (응답 메시지) : <span th:text="${SearchResult.message}"></span></li>
                    <li>total (전체 검색개수) : <span th:text="${SearchResult.total}"></span></li>
                    <li>perPage (페이지당 목록개수) : <span th:text="${SearchResult.perPage}"></span></li>
                    <li>pageNum (페이지번호) : <span th:text="${SearchResult.pageNum}"></span></li>
                    <li>pageCount (페이지수) : <span th:text="${SearchResult.pageCount}"></span></li>
                </ul>

                <fieldset th:each="SearchInfo, index : ${SearchResult.list}" class="fieldset3">
                    <legend>세금계산서 요약정보[ <span th:text="${index.index + 1}"></span> / <span th:text="${index.size}"></span> ]</legend>
                    <ul>
                        <li>itemKey (팝빌번호) : <span th:text="${SearchInfo.itemKey}"></span></li>
                        <li>taxType (과세형태) : <span th:text="${SearchInfo.taxType}"></span></li>
                        <li>writeDate (작성일자) : <span th:text="${SearchInfo.writeDate}"></span></li>
                        <li>regDT (등록일자) : <span th:text="${SearchInfo.regDT}"></span></li>
                        <li>issueType (발행형태) : <span th:text="${SearchInfo.issueType}"></span></li>
                        <li>supplyCostTotal (공급가액 합계) : <span th:text="${SearchInfo.supplyCostTotal}"></span></li>
                        <li>taxTotal (세액 합계) : <span th:text="${SearchInfo.taxTotal}"></span></li>
                        <li>purposeType (영수/청구) : <span th:text="${SearchInfo.purposeType}"></span></li>
                        <li>issueDT (발행일시) : <span th:text="${SearchInfo.issueDT}"></span></li>
                        <li>lateIssueYN (지연발행 여부) : <span th:text="${SearchInfo.lateIssueYN}"></span></li>

                        <li>openYN (개봉여부) : <span th:text="${SearchInfo.openYN}"></span></li>
                        <li>openDT (개봉일시) : <span th:text="${SearchInfo.openDT}"></span></li>
                        <li>stateCode (상태코드) : <span th:text="${SearchInfo.stateCode}"></span></li>
                        <li>stateMemo (상태메모) : <span th:text="${SearchInfo.stateMemo}"></span></li>
                        <li>stateDT (상태 변경일시) : <span th:text="${SearchInfo.stateDT}"></span></li>
                        <li>modifyCode (수정사유코드) : <span th:text="${SearchInfo.modifyCode}"></span></li>
                        <li>interOPYN (연동문서 여부) : <span th:text="${SearchInfo.interOPYN}"></span></li>
                        <li>invoicerCorpName (공급자 상호) : <span th:text="${SearchInfo.invoicerCorpName}"></span></li>
                        <li>invoicerCorpNum (공급자 사업자번호) : <span th:text="${SearchInfo.invoicerCorpNum}"></span></li>
                        <li>invoicerMgtKey (공급자 문서번호) : <span th:text="${SearchInfo.invoicerMgtKey}"></span></li>
                        <li>invoicerPrintYN (공급자 인쇄여부) : <span th:text="${SearchInfo.invoicerPrintYN}"></span></li>
                        <li>invoiceeCorpName (공급받는자 상호) : <span th:text="${SearchInfo.invoiceeCorpName}"></span></li>
                        <li>invoiceeCorpNum (공급받는자 사업자번호) : <span th:text="${SearchInfo.invoiceeCorpNum}"></span></li>
                        <li>invoiceeMgtKey (공급받는자 문서번호) : <span th:text="${SearchInfo.invoiceeMgtKey}"></span></li>
                        <li>invoiceePrintYN (공급받는자 인쇄여부) : <span th:text="${SearchInfo.invoiceePrintYN}"></span></li>
                        <li>closeDownState (휴폐업상태) : <span th:text="${SearchInfo.closeDownState}"></span></li>
                        <li>closeDownStateDate (휴폐업일자) : <span th:text="${SearchInfo.closeDownStateDate}"></span></li>
                        <li>trusteeCorpName (수탁자 상호) : <span th:text="${SearchInfo.trusteeCorpName}"></span></li>
                        <li>trusteeCorpNum (수탁자 사업자번호) : <span th:text="${SearchInfo.trusteeCorpNum}"></span></li>
                        <li>trusteeMgtKey (수탁자 문서번호) : <span th:text="${SearchInfo.trusteeMgtKey}"></span></li>
                        <li>trusteePrintYN (수탁자 인쇄여부) : <span th:text="${SearchInfo.trusteePrintYN}"></span></li>
                    </ul>
                </fieldset>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>
