<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
    <div th:if="${TaxinvoiceXML}" id="content">
        <p class="heading1">Response</p>
        <br />
        <fieldset class="fieldset1">
            <legend th:text="${#request?.requestURL}"></legend>
            <fieldset class="fieldset2">
                <legend>TaxinvoiceXML</legend>
                <ul>
                    <li>code (응답코드) : <span th:text="${TaxinvoiceXML.code}"></span></li>
                    <li>message (응답메시지) : <span th:text="${TaxinvoiceXML.message}"></span></li>
                    <li>retObject (전자세금계산서 XML 문서) : <span th:text="${TaxinvoiceXML.retObject}"></span></li>
                </ul>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>
