<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
    <div id="content">
        <p class="heading1">Response</p>
        <br />
        <fieldset class="fieldset1">
            <legend th:text="${#request?.requestURL}"></legend>
            <fieldset class="fieldset2">
                <ul>
                    <li>ceoname (대표자 성명) : <span th:text="${CorpInfo.ceoname}"></span></li>
                    <li>corpName (상호) : <span th:text="${CorpInfo.corpName}"></span></li>
                    <li>addr (주소) : <span th:text="${CorpInfo.addr}"></span></li>
                    <li>bizType (업태) : <span th:text="${CorpInfo.bizType}"></span></li>
                    <li>bizClass (업종) : <span th:text="${CorpInfo.bizClass}"></span></li>
                </ul>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>
