<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<fieldset class="fieldset2" th:each="ContactInfo : ${ContactInfos}">
				<ul>
					<li>id (아이디) : <span th:text="${ContactInfo.id}"></span></li>
					<li>personName (담당자 성명) : <span th:text="${ContactInfo.personName}"></span></li>
					<li>tel (담당자 휴대폰) : <span th:text="${ContactInfo.tel}"></span></li>
					<li>email (담당자 메일) : <span th:text="${ContactInfo.email}"></span></li>
					<li>regDT (등록일시) : <span th:text="${ContactInfo.regDT}"></span></li>
					<li>searchRole (권한) : <span th:text="${ContactInfo.searchRole}"></span></li>
					<li>mgrYN (역할) : <span th:text="${ContactInfo.mgrYN}"></span></li>
					<li>state (상태) : <span th:text="${ContactInfo.state}"></span></li>
				</ul>
			</fieldset>
		</fieldset>
	</div>
</body>
</html>
