<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
    <div id="content">
        <p class="heading1">RefundHistoryResult</p>
        <br />
        <fieldset class="fieldset1">
            <legend th:text="${#request?.requestURL}"></legend>
            <fieldset th:if="${RefundHistoryResult}" class="fieldset2">
                <legend>환불신청내역 목록</legend>
                <ul>
                    <li>code (응답코드) : <span th:text="${RefundHistoryResult.code}"></span></li>
                    <li>total (전체 검색개수) : <span th:text="${RefundHistoryResult.total}"></span></li>
                    <li>perPage (페이지당 목록개수) : <span th:text="${RefundHistoryResult.perPage}"></span></li>
                    <li>pageNum (페이지번호) : <span th:text="${RefundHistoryResult.pageNum}"></span></li>
                    <li>pageCount (페이지수) : <span th:text="${RefundHistoryResult.pageCount}"></span></li>
                </ul>

                <fieldset th:each="RefundHistory, index : ${RefundHistoryResult.list}" class="fieldset3">
                    <legend>환불신청 정보[ <span th:text="${index.index + 1}"></span> / <span th:text="${index.size}"></span> ]</legend>
                    <ul>
                        <li>reqDT (신청일자) : <span th:text="${RefundHistory.reqDT}"></span></li>
                        <li>requestPoint (환불 신청포인트) : <span th:text="${RefundHistory.requestPoint}"></span></li>
                        <li>accountBank (환불계좌 은행명) : <span th:text="${RefundHistory.accountBank}"></span></li>
                        <li>accountNum (환불계좌번호) : <span th:text="${RefundHistory.accountNum}"></span></li>
                        <li>accountName (환불계좌 예금주명) : <span th:text="${RefundHistory.accountName}"></span></li>
                        <li>state (상태) : <span th:text="${RefundHistory.state}"></span></li>
                        <li>reason (환불사유) : <span th:text="${RefundHistory.reason}"></span></li>
                    </ul>
                </fieldset>
            </fieldset>
        </fieldset>
    </div>
</body>
</html>
