<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<fieldset class="fieldset2" th:if="${SearchResult}">
				<legend>검색결과 정보</legend>
				<ul>
					<li>code (응답코드) : <span th:text="${SearchResult.code}"></span></li>
					<li>message (응답메시지) : <span th:text="${SearchResult.message}"></span></li>
					<li>total (총 검색결과 건수) : <span th:text="${SearchResult.total}"></span></li>
					<li>perPage (페이지당 목록 건수) : <span th:text="${SearchResult.perPage}"></span></li>
					<li>pageNum (페이지 번호) : <span th:text="${SearchResult.pageNum}"></span></li>
					<li>pageCount (페이지 개수) : <span th:text="${SearchResult.pageCount}"></span></li>
				</ul>

				<fieldset class="fieldset3"
					th:each="SearchInfo, index : ${SearchResult.list}">
					<legend>
						전자명세서 요약정보[ <span th:text="${index.index + 1}"></span> / <span
							th:text="${index.size}"></span> ]
					</legend>
					<ul>
						<li>itemCode (전자명세서 문서 유형) : <span th:text="${SearchInfo.itemCode}"></span></li>
						<li>itemKey (팝빌번호) : <span th:text="${SearchInfo.itemKey}"></span></li>
						<li>mgtKey (문서번호) : <span th:text="${SearchInfo.mgtKey}"></span></li>
						<li>taxType (과세형태) : <span th:text="${SearchInfo.taxType}"></span></li>
						<li>writeDate (작성일자) : <span th:text="${SearchInfo.writeDate}"></span></li>
						<li>regDT (임시저장일시) : <span th:text="${SearchInfo.regDT}"></span></li>
						<li>senderCorpName (발신자 상호) : <span th:text="${SearchInfo.senderCorpName}"></span></li>
						<li>senderCorpNum (발신자 사업자번호) : <span th:text="${SearchInfo.senderCorpNum}"></span></li>
						<li>senderPrintYN (발신자 인쇄여부) : <span th:text="${SearchInfo.senderPrintYN}"></span></li>
						<li>receiverCorpName (수신자 상호) : <span th:text="${SearchInfo.receiverCorpName}"></span></li>
						<li>receiverCorpNum (수신자 사업자번호) : <span th:text="${SearchInfo.receiverCorpNum}"></span></li>
						<li>receiverPrintYN (수신자 인쇄여부) : <span th:text="${SearchInfo.receiverPrintYN}"></span></li>
						<li>supplyCostTotal (공급가액 합계) : <span th:text="${SearchInfo.supplyCostTotal}"></span></li>
						<li>taxTotal (세액 합계) : <span th:text="${SearchInfo.taxTotal}"></span></li>
						<li>purposeType (영수/청구) : <span th:text="${SearchInfo.purposeType}"></span></li>
						<li>issueDT (발행일시) : <span th:text="${SearchInfo.issueDT}"></span></li>
						<li>stateCode (상태코드) : <span th:text="${SearchInfo.stateCode}"></span></li>
						<li>stateDT (상태변경 일시) : <span th:text="${SearchInfo.stateDT}"></span></li>
						<li>stateMemo (상태메모) : <span th:text="${SearchInfo.stateMemo}"></span></li>
						<li>openYN (개봉여부) : <span th:text="${SearchInfo.openYN}"></span></li>
						<li>openDT (개봉 일시) : <span th:text="${SearchInfo.openDT}"></span></li>
					</ul>
				</fieldset>
			</fieldset>
		</fieldset>
	</div>
</body>
</html>
