<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="/css/main.css" media="screen" rel="stylesheet"
	type="text/css" />
<title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
	<div id="content">
		<p class="heading1">Response</p>
		<br />
		<fieldset class="fieldset1">
			<legend th:text="${#request?.requestURI}"></legend>
			<fieldset class="fieldset2" th:if="${SearchResult}">
				<legend>검색결과 정보</legend>
				<ul>
					<li>code (응답코드) : <span th:text="${SearchResult.code}"></span></li>
					<li>message (응답 메시지) : <span th:text="${SearchResult.message}"></span></li>
					<li>total (전체 검색개수) : <span th:text="${SearchResult.total}"></span></li>
					<li>perPage (페이지당 목록개수) : <span
						th:text="${SearchResult.perPage}"></span></li>
					<li>pageNum (페이지번호) : <span th:text="${SearchResult.pageNum}"></span></li>
					<li>pageCount (페이지수) : <span
						th:text="${SearchResult.pageCount}"></span></li>
				</ul>

				<fieldset class="fieldset3"
					th:each="SearchInfo, index : ${SearchResult.list}">
					<legend>
						전송결과 정보[ <span th:text="${index.index + 1}"></span> / <span
							th:text="${index.size}"></span> ]
					</legend>
					<ul>
						<li>state (상태코드) : <span th:text="${SearchInfo.state}"></span></li>
						<li>result (결과코드) : <span th:text="${SearchInfo.result}"></span></li>
						<li>sendNum (발신번호) : <span th:text="${SearchInfo.sendNum}"></span></li>
						<li>senderName (발신자명) : <span
							th:text="${SearchInfo.senderName}"></span></li>
						<li>receiveNumType (수신번호 유형) : <span
							th:text="${SearchInfo.receiveNumType}"></span></li>
						<li>receiveNum (수신번호) : <span
							th:text="${SearchInfo.receiveNum}"></span></li>
						<li>receiveName (수신자명) : <span
							th:text="${SearchInfo.receiveName}"></span></li>
						<li>title (팩스제목) : <span th:text="${SearchInfo.title}"></span></li>
						<li>sendPageCnt (전체 페이지수) : <span
							th:text="${SearchInfo.sendPageCnt}"></span></li>
						<li>successPageCnt (성공 페이지수) : <span
							th:text="${SearchInfo.successPageCnt}"></span></li>
						<li>failPageCnt (실패 페이지수) : <span
							th:text="${SearchInfo.failPageCnt}"></span></li>
						<li>refundPageCnt (환불 페이지수) : <span
							th:text="${SearchInfo.refundPageCnt}"></span></li>
						<li>cancelPageCnt (취소 페이지수) : <span
							th:text="${SearchInfo.cancelPageCnt}"></span></li>
						<li>receiptDT (접수일시) : <span
							th:text="${SearchInfo.receiptDT}"></span></li>
						<li>reserveDT (예약일시) : <span
							th:text="${SearchInfo.reserveDT}"></span></li>
						<li>sendDT (전송일시) : <span th:text="${SearchInfo.sendDT}"></span></li>
						<li>resultDT (전송결과 수신일시) : <span
							th:text="${SearchInfo.resultDT}"></span></li>
						<li>receiptNum (접수번호) : <span
							th:text="${SearchInfo.receiptNum}"></span></li>
						<li>requestNum (요청번호) : <span
							th:text="${SearchInfo.requestNum}"></span></li>
						<li>interOPRefKey (파트너 지정키) : <span
							th:text="${SearchInfo.interOPRefKey}"></span></li>
						<li>fileNames (전송 파일명 리스트) : <span
							th:each="fileName : ${SearchInfo.fileNames}"><span
								th:text="${fileName}"></span> </span></li>
						<li>chargePageCnt (과금 페이지수) : <span
							th:text="${SearchInfo.chargePageCnt}"></span></li>
						<li>tiffFileSize (변환파일용량 (단위:byte)) : <span
							th:text="${SearchInfo.tiffFileSize}"></span></li>
					</ul>
				</fieldset>
			</fieldset>
		</fieldset>
	</div>
</body>
</html>
