<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
    <title>팝빌 SDK SpringBoot Example.</title>
</head>
<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        <fieldset class="fieldset2" th:each="SentMessage : ${SentMessages}">
            <legend>문자 전송결과</legend>
            <ul>
                <li>state (전송상태 코드) : <span th:text="${SentMessage.state}"></span></li>
                <li>result (전송결과 코드) : <span th:text="${SentMessage.result}"></span></li>
                <li>subject (메시지 제목) : <span th:text="${SentMessage.subject}"></span></li>
                <li>messageType (메시지타입) : <span th:text="${SentMessage.messageType}"></span></li>
                <li>content (메시지 내용) : <span th:text="${SentMessage.content}"></span></li>
                <li>sendNum (발신번호) : <span th:text="${SentMessage.sendNum}"></span></li>
                <li>senderName (발신자명) : <span th:text="${SentMessage.senderName}"></span></li>
                <li>receiveNum (수신번호) : <span th:text="${SentMessage.receiveNum}"></span></li>
                <li>receiveName (수신자명) : <span th:text="${SentMessage.receiveName}"></span></li>
                <li>receiptDT (접수일시) : <span th:text="${SentMessage.receiptDT}"></span></li>
                <li>sendDT (전송일시) : <span th:text="${SentMessage.sendDT}"></span></li>
                <li>resultDT (전송결과 수신일시) : <span th:text="${SentMessage.resultDT}"></span></li>
                <li>reserveDT (예약일시) : <span th:text="${SentMessage.reserveDT}"></span></li>
                <li>tranNet (전송처리 이동통신사명) : <span th:text="${SentMessage.tranNet}"></span></li>
                <li>receiptNum (접수번호) : <span th:text="${SentMessage.receiptNum}"></span></li>
                <li>requestNum (요청번호) : <span th:text="${SentMessage.requestNum}"></span></li>
                <li>interOPRefKey (파트너 지정키) : <span th:text="${SentMessage.interOPRefKey}"></span></li>
            </ul>
        </fieldset>
    </fieldset>
</div>
</body>
</html>
